body {

  text-align: center;
  font-family: sans-serif;
  margin: 0;

}
.main {
  background-color: #ccffff;
  margin: 0;
}
.pro {
  font-family: cursive;
  text-decoration: underline;

}
.div-3 {
  display: inline;
  position: relative;
  right: 40px;

}
.div-4 {
  display: inline;
  position: relative;
  bottom: 280px;
  left: 100px;
}
.div-1 {
  position: relative;
  left: 200px;
  top: 40px;
}
.myimg {

  height: 150px;
}
.div-5 {
  position: relative;
  top: 15px;
}
.div-6 {
  position: relative;
  top: 15px;
}
.inst {
  color: #ff1a1a;
}
